@* @model Department *@
@{
    ViewData["Title"] = "Edit";
}

<h1>Update Department</h1>
<br />
<br />

<form asp-action="Edit">
    <div asp-validation-summary="All"></div> @* List all form error messages *@
    <partial name="PartialViews/CreateEditDepartmentPartial" />
    <input type="submit" class="btn btn-primary" value="Save" />
    <a asp-action="Index" asp-controller="Department" class="btn btn-">Back To List</a>
</form>

@section ValidationScriptsSection {
    <partial name="_ValidationScriptsPartial" />
    @* <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script> *@
}
